In [1]:
"""
Αντικατάσταση των κεφαλίδων στο αρχείο
με τις συνολικές καταγραφές
"""

'\nΑντικατάσταση των κεφαλίδων στο αρχείο\nμε τις συνολικές καταγραφές\n'

In [2]:
#Εισαγωγή βιβλιοθήκης Panda
import pandas as pd

In [3]:
df_data_labevents = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\hosp\d_labitems.csv.gz')
df_item_header = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o15_fill_lab_itemid_header_tbl.csv')

In [4]:
df_data_labevents = df_data_labevents.set_index('itemid')

In [6]:
# Ενοποίηση τιμών σε κελιά
df_data_labevents["header"] = (df_data_labevents["label"].astype(str)
                                                + " ("
                                                + df_data_labevents["fluid"].astype(str)
                                                + ")")

In [8]:
# Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
# τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
for col in df_item_header.columns:
    if ((col != 'subject_id') and (col != 'hadm_id') and (col != 'Department') and (col != 'date') and (col != 'time')):
        temp = (df_data_labevents.loc[int(col), 'header'])
        df_data_labevents.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [9]:
df_item_header

,subject_id,hadm_id,Department,date,time,50801,50802,50803,50804,50805,...,52278,52279,52281,52283,52285,52286,52312,52369,52391,52769
0,10004733,27411876,hosp,2174-12-04,16:00:00,NaN,0.0,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,hosp,2174-12-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,hosp,2174-12-05,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,hosp,2174-12-06,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,hosp,2174-12-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68186,19999987,23865745,hosp,2145-11-09,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68187,19999987,23865745,hosp,2145-11-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68188,19999987,23865745,hosp,2145-11-03,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68189,19999987,23865745,hosp,2145-11-03,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68190,19999987,23865745,hosp,2145-11-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN