In [1]:
"""
Καταγράφω τους ασθενείς που πέρασαν από τα
επείγοντα με εγκεφαλικό και κατέληξαν στο νοσοκομείο.

949.172 -> Συνολικές εγγραφές στον πίνακα των διαγνώσεων.
448.972 -> Εγγραφές που μας δείχνουν τους ασθενείς που νοσηλεύτηκαν.
  2.292 -> Είναι οι διαγνώσεις εγκεφαλικού.
  2.233 -> Εισαγωγές με εγκεφαλικό νοσηλεύτηκαν
  2.145 -> Μοναδικοί ασθενείς που διαγνώστηκαν με εγκεφαλικό
  2.094 -> Μοναδικοί ασθενείς με εγκεφαλικό που νοσηλεύτηκαν.
     59 -> Εισαγωγές με εγκεφαλικό που δεν νοσηλεύτηκαν.
     59 -> Μοναδικοί ασθενείς με εγκεφαλικό που δεν νοσηλεύτηκαν.
"""

'\nΚαταγράφω τους ασθενείς που πέρασαν από τα\nεπείγοντα με εγκεφαλικό και κατέληξαν στο νοσοκομείο.\n\n949.172 -> Συνολικές εγγραφές στον πίνακα των διαγνώσεων.\n448.972 -> Εγγραφές που μας δείχνουν τους ασθενείς που νοσηλεύτηκαν.\n  2.292 -> Είναι οι διαγνώσεις εγκεφαλικού.\n  2.233 -> Εισαγωγές με εγκεφαλικό νοσηλεύτηκαν\n  2.145 -> Μοναδικοί ασθενείς που διαγνώστηκαν με εγκεφαλικό\n  2.094 -> Μοναδικοί ασθενείς με εγκεφαλικό που νοσηλεύτηκαν.\n     59 -> Εισαγωγές με εγκεφαλικό που δεν νοσηλεύτηκαν.\n     59 -> Μοναδικοί ασθενείς με εγκεφαλικό που δεν νοσηλεύτηκαν.\n'

In [2]:
import pandas as pd

In [3]:
df_patients = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\diagnosis.csv.gz')
df_edstays = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\edstays.csv.gz')

In [4]:
#Ασθενείς με εγκεφαλικό.
ed_cerebral_infarction_diagnoses = df_patients[
    (df_patients['icd_code'] =="41000") | (df_patients['icd_code'] =="41001") |
    (df_patients['icd_code'] =="41002") | (df_patients['icd_code'] =="41010") |
    (df_patients['icd_code'] =="41011") | (df_patients['icd_code'] =="41012") |
    (df_patients['icd_code'] =="41020") | (df_patients['icd_code'] =="41021") |
    (df_patients['icd_code'] =="41022") | (df_patients['icd_code'] =="41030") |
    (df_patients['icd_code'] =="41031") | (df_patients['icd_code'] =="41032") |
    (df_patients['icd_code'] =="41040") | (df_patients['icd_code'] =="41041") |
    (df_patients['icd_code'] =="41042") | (df_patients['icd_code'] =="41050") |
    (df_patients['icd_code'] =="41051") | (df_patients['icd_code'] =="41052") |
    (df_patients['icd_code'] =="41060") | (df_patients['icd_code'] =="41061") |
    (df_patients['icd_code'] =="41062") | (df_patients['icd_code'] =="41070") |
    (df_patients['icd_code'] =="41071") | (df_patients['icd_code'] =="41072") |
    (df_patients['icd_code'] =="41080") | (df_patients['icd_code'] =="41081") |
    (df_patients['icd_code'] =="41082") | (df_patients['icd_code'] =="41090") |
    (df_patients['icd_code'] =="41091") | (df_patients['icd_code'] =="41092") |
    (df_patients['icd_code'] =="I2109") | (df_patients['icd_code'] =="I2119") |
    (df_patients['icd_code'] =="I2111") | (df_patients['icd_code'] =="I2129") |
    (df_patients['icd_code'] =="I213") | (df_patients['icd_code'] =="I214") |
    (df_patients['icd_code'] =="I219") | (df_patients['icd_code'] =="I21A1") |
    (df_patients['icd_code'] =="I21A9") | (df_patients['icd_code'] =="I21") |
    (df_patients['icd_code'] =="I210") | (df_patients['icd_code'] =="I2101") |
    (df_patients['icd_code'] =="I2102") | (df_patients['icd_code'] =="I211") |
    (df_patients['icd_code'] =="I212") | (df_patients['icd_code'] =="I2121") |
    (df_patients['icd_code'] =="I21A") | (df_patients['icd_code'] =="I22") |
    (df_patients['icd_code'] =="I220") | (df_patients['icd_code'] =="I221") |
    (df_patients['icd_code'] =="I222") | (df_patients['icd_code'] =="I228") |
    (df_patients['icd_code'] =="I229") | (df_patients['icd_code'] =="I23") |
    (df_patients['icd_code'] =="I230") | (df_patients['icd_code'] =="I231") |
    (df_patients['icd_code'] =="I232") | (df_patients['icd_code'] =="I233") |
    (df_patients['icd_code'] =="I234") | (df_patients['icd_code'] =="I235") |
    (df_patients['icd_code'] =="I236") | (df_patients['icd_code'] =="I238") |
    (df_patients['icd_code'] =="42979")
]

In [5]:
# Διαγνώσεις εγκεφαλικού (2292).
ed_cerebral_infarction_diagnoses

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
194,18252574,32323867,1,41091,9,"MYOCARDIAL INFARCTION NOS, INIT EPISODE OF CARE"
490,14359030,38036529,3,41091,9,"MYOCARDIAL INFARCTION NOS, INIT EPISODE OF CARE"
1623,10425151,37794579,1,41071,9,"SUBENDOCARDIAL INFARCTION, INITIAL EPISODE OF ..."
2168,16645386,31292419,1,41091,9,"MYOCARDIAL INFARCTION NOS, INIT EPISODE OF CARE"
2958,13206730,32248189,1,41091,9,"MYOCARDIAL INFARCTION NOS, INIT EPISODE OF CARE"
...,...,...,...,...,...,...
948043,18400750,39976609,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
948258,14531683,39980750,1,I2119,10,STEMI involving oth coronary artery of inferio...
948296,13982153,39981501,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
948349,17827226,39982597,2,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
949165,15067803,39999833,1,I213,10,ST elevation (STEMI) myocardial infarction of ...

In [6]:
"""
Ενοποίηση των στοιχείων έτσι ώστε να κρατήσουμε τους
ασθενείς που έχουν hadm_id πράγμα που σημαίνει ότι
νοσηλεύτηκαν στο νοσοκομείο. Από εκεί θα δούμε αν
κατέληξαν στις ΜΕΘ. Με βάση την βιβλιογραφία της MimicIV
το hadm_id δεν δείχνει την άμεση μετάβαση στις ΜΕΘ.
Βέβαια το ίδιο hadm_id ακολουθεί τον ασθενή καθόλη την 
διάρκεια της εισαγωγής αλλά θα κρατήσω της βιβλιογραφίας.
"""
rslt_df = pd.merge(df_edstays, ed_cerebral_infarction_diagnoses, on=['subject_id', 'stay_id'] )

In [7]:
rslt_df

,subject_id,hadm_id,stay_id,intime,outtime,seq_num,icd_code,icd_version,icd_title
0,10026950,28254249.0,34084010,2133-03-14 10:25:00,2133-03-14 13:10:28,1,41071,9,"SUBENDOCARDIAL INFARCTION, INITIAL EPISODE OF ..."
1,10045854,22972246.0,32510227,2121-03-16 11:36:00,2121-03-16 17:53:00,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
2,10071281,29395354.0,30537706,2158-05-06 20:01:00,2158-05-06 20:06:44,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
3,10098875,20091159.0,35289055,2113-12-13 10:17:00,2113-12-13 19:56:00,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
4,10146602,25822492.0,39496287,2184-07-19 16:15:00,2184-07-20 15:39:00,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
...,...,...,...,...,...,...,...,...,...
2404,19845416,NaN,35606807,2186-09-23 13:51:00,2186-09-23 14:04:00,1,41091,9,"MYOCARDIAL INFARCTION NOS, INIT EPISODE OF CARE"
2405,19913234,27749959.0,32830702,2172-09-04 09:08:00,2172-09-04 11:24:00,1,I213,10,ST elevation (STEMI) myocardial infarction of ...
2406,19914314,23447403.0,32806769,2176-07-21 20:53:00,2176-07-21 22:22:03,1,I213,10,ST elevation (STEMI) myocardial infarction of ...
2407,19917043,25359616.0,34686198,2170-05-02 15:06:00,2170-05-02 18:08:00,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction
2408,19988997,29807937.0,39070828,2174-06-27 14:13:00,2174-06-27 15:23:00,1,I214,10,Non-ST elevation (NSTEMI) myocardial infarction

In [8]:
"""
Έλεγχω αν υπάρχουν nan κελιά, έτσι μπορώ
να δω αν κάποιος ασθενής πέρασε από τα 
επείγοντα στο νοσοκομείο ή όχι. Οι κενές
περιοχές δηλώνουν ότι δεν έφυγε χωρίς εισαγωγή.
"""
rslt_df.isna().sum()

subject_id      0
hadm_id        48
stay_id         0
intime          0
outtime         0
seq_num         0
icd_code        0
icd_version     0
icd_title       0
dtype: int64

In [9]:
# Κρατώ μόνο τις γραμμές που έχουν τιμές στο hadm_id
rslt_df = rslt_df[rslt_df['hadm_id'].notna()]

In [10]:
rslt_df.to_csv('D:\Thesis\exports\o1_ed_patients_to_hosp.csv', index=False)

In [11]:
# Μοναδικοί ασθενείς που διαγνώστηκαν με εγκεφαλικό (2145)
ed_cerebral_infarction_diagnoses.drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2291 entries, 194 to 949165
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2291 non-null   int64
 1   stay_id      2291 non-null   int64
 2   seq_num      2291 non-null   int64
 3   icd_code     2291 non-null   object
 4   icd_version  2291 non-null   int64
 5   icd_title    2291 non-null   object
dtypes: int64(4), object(2)
memory usage: 125.3+ KB

In [12]:
# Ελέγχω εκ νέου για κενές τιμές στο hadm
rslt_df[rslt_df['hadm_id'].isna()].drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   0 non-null      int64
 1   hadm_id      0 non-null      float64
 2   stay_id      0 non-null      int64
 3   intime       0 non-null      object
 4   outtime      0 non-null      object
 5   seq_num      0 non-null      int64
 6   icd_code     0 non-null      object
 7   icd_version  0 non-null      int64
 8   icd_title    0 non-null      object
dtypes: float64(1), int64(4), object(4)
memory usage: 0.0+ bytes

In [13]:
# Εισαγωγές με εγκεφαλικό νοσηλεύτηκαν (2233)
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2361 entries, 0 to 2408
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2361 non-null   int64
 1   hadm_id      2361 non-null   float64
 2   stay_id      2361 non-null   int64
 3   intime       2361 non-null   object
 4   outtime      2361 non-null   object
 5   seq_num      2361 non-null   int64
 6   icd_code     2361 non-null   object
 7   icd_version  2361 non-null   int64
 8   icd_title    2361 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 184.5+ KB

In [14]:
rslt_df.drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2247 entries, 0 to 2408
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2247 non-null   int64
 1   hadm_id      2247 non-null   float64
 2   stay_id      2247 non-null   int64
 3   intime       2247 non-null   object
 4   outtime      2247 non-null   object
 5   seq_num      2247 non-null   int64
 6   icd_code     2247 non-null   object
 7   icd_version  2247 non-null   int64
 8   icd_title    2247 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 175.5+ KB