In [1]:
import pandas as pd

## Τιμολογημένες διαγνώσεις

In [16]:
df_patients = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\diagnosis.csv.gz')

In [17]:
df_diagnosis

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,15825222,39090953,1,486,9,"PNEUMONIA,ORGANISM UNSPECIFIED"
1,15825222,39090953,2,4254,9,PRIM CARDIOMYOPATHY NEC
2,11554870,37245764,1,5609,9,INTESTINAL OBSTRUCT NOS
3,19748558,30511202,1,49392,9,"ASTHMA, UNSPECIFIED, WITH ACUTE EXACERBATION"
4,18008347,34907903,1,7842,9,SWELLING IN HEAD & NECK
...,...,...,...,...,...,...
949167,11302781,39999961,3,R0600,10,"Dyspnea, unspecified"
949168,11302781,39999961,2,R079,10,"Chest pain, unspecified"
949169,11302781,39999961,1,I2699,10,Other pulmonary embolism without acute cor pul...
949170,16479007,39999964,1,F329,10,"Major depressive disorder, single episode, uns..."
949171,16479007,39999964,2,R45851,10,Suicidal ideations

## Κύριος πίνακας παρακολούθησης επίσκεψης στο τμήμα επειγόντων

In [4]:
df_edstays = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\edstays.csv.gz')

In [5]:
df_edstays

,subject_id,hadm_id,stay_id,intime,outtime
0,10000115,NaN,38081480,2154-12-10 02:04:00,2154-12-10 02:16:00
1,10000115,NaN,30295111,2154-12-17 16:37:00,2154-12-17 17:38:00
2,10000473,NaN,33267868,2138-03-15 20:07:00,2138-03-15 20:26:00
3,10000764,27897940.0,35420907,2132-10-14 19:31:00,2132-10-14 23:32:59
4,10001038,NaN,34301067,2149-08-07 08:51:00,2149-08-07 08:55:00
...,...,...,...,...,...
448967,19998350,NaN,36522433,2136-03-21 07:33:00,2136-03-21 09:07:00
448968,19999068,21606769.0,35130402,2161-08-24 03:14:00,2161-08-24 05:26:00
448969,19999270,NaN,30502357,2184-02-11 21:11:00,2184-02-11 21:14:00
448970,19999270,NaN,36263682,2184-08-19 23:26:00,2184-08-20 02:47:00
448971,19999298,27518724.0,33486806,2177-02-10 02:44:00,2177-02-10 08:13:00

## Ερώτηση για το τι φάρμακα παίρνει ο ασθενείς κατά την εισαγωγή στα επείγοντα

In [6]:
df_medrecon = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\medrecon.csv.gz')

In [7]:
df_medrecon

,subject_id,stay_id,charttime,name,gsn,ndc,etc_rn,etccode,etcdescription
0,12363835,34078373,2177-02-13 03:31:00,Caltrate 600 + D,63395,11845014031,1,6143.0,Minerals and Electrolytes - Calcium Replacemen...
1,12363835,34078373,2177-02-13 03:31:00,Coumadin,6562,15330026801,1,806.0,Anticoagulants - Coumarin
2,12363835,34078373,2177-02-13 03:31:00,Flonase,18368,12280027016,1,301.0,Nasal Corticosteroids
3,12363835,34078373,2177-02-13 03:31:00,lidocaine,43256,10544037630,1,3932.0,Dermatological - Topical Local Anesthetic Amides
4,12363835,34078373,2177-02-13 03:31:00,omeprazole,43137,16714074801,1,445.0,Gastric Acid Secretion Reducing Agents - Proto...
...,...,...,...,...,...,...,...,...,...
3147289,18569084,30638322,2153-02-13 18:15:00,ezetimibe,51214,16729043310,1,5678.0,Antihyperlipidemic - Selective Cholesterol Abs...
3147290,18569084,30638322,2153-02-13 18:15:00,diclofenac sodium,18293,10544040701,1,3381.0,Dermatological - NSAID Single Agents
3147291,18569084,30638322,2153-02-13 18:15:00,aspirin,16995,10135017301,1,575.0,Salicylate Analgesics
3147292,18569084,30638322,2153-02-13 18:15:00,aspirin,16995,10135017301,2,5843.0,Platelet Aggregation Inhibitors - Salicylates
3147293,18569084,30638322,2153-02-13 18:15:00,polyethylene glycol 3350 [GlycoLax],41843,10135068304,1,409.0,Laxative - Saline and Osmotic

## Ο πίνακας διαλογής περιέχει πληροφορίες για τον ασθενή όταν έγινε για πρώτη φορά διαλογή στο τμήμα επειγόντων περιστατικών

In [11]:
df_triage = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\Triage.csv.gz')

In [12]:
df_triage

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,15585360,37573921,97.0,87.0,18.0,100.0,150.0,71.0,10.0,3.0,
1,17192424,34160628,98.6,82.0,NaN,100.0,111.0,81.0,3.0,3.0,
2,15248757,32172727,97.1,112.0,20.0,100.0,147.0,97.0,8.0,4.0,
3,16648037,38946064,98.5,59.0,18.0,99.0,160.0,86.0,2.0,2.0,
4,13492931,39828574,100.6,90.0,16.0,96.0,107.0,55.0,0.0,3.0,'
...,...,...,...,...,...,...,...,...,...,...,...
448967,17192157,31192693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448968,15632852,37860864,98.2,115.0,18.0,100.0,124.0,68.0,0.0,3.0,NaN
448969,17526143,30744048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
448970,18321345,37024607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448971,11894181,39631961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

## Ζωτικά σημεία ρουτίνας που λαμβάνονται 1-4 ώρες

In [14]:
df_vitalsign = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\Vitalsign.csv.gz',)

In [15]:
df_vitalsign

,subject_id,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,16113983,37539106,2116-06-10 00:32:00,98.20,82.0,15.0,NaN,106.0,72.0,NaN,NaN
1,15128994,30058281,2167-08-29 02:25:00,98.30,79.0,20.0,97.0,126.0,73.0,NaN,0
2,15128994,30058281,2167-08-29 04:51:00,97.60,79.0,20.0,98.0,126.0,73.0,NaN,0
3,15128994,30058281,2167-08-29 05:35:00,98.30,76.0,18.0,NaN,123.0,68.0,NaN,0/10
4,18019452,37300626,2148-12-19 12:34:00,98.10,100.0,16.0,98.0,129.0,86.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
1651114,14212258,31798078,2161-08-27 14:08:00,98.70,67.0,18.0,99.0,139.0,90.0,NaN,0
1651115,18569084,30638322,2153-02-13 15:18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1651116,18569084,30638322,2153-02-13 15:19:00,97.90,62.0,16.0,NaN,108.0,57.0,NaN,4
1651117,18569084,30638322,2153-02-13 17:55:00,NaN,57.0,15.0,95.0,110.0,54.0,NaN,0
1651118,18569084,30638322,2153-02-13 19:32:00,98.32,63.0,18.0,98.0,103.0,52.0,NaN,0

In [18]:
#Ασθενείς με εγκεφαλικό.
ed_cerebral_infarction_diagnoses = df_patients[
    (df_patients['icd_code'] =="43300") | (df_patients['icd_code'] =="43301") | (df_patients['icd_code'] =="43310") | (df_patients['icd_code'] =="43311") |
    (df_patients['icd_code'] =="43320") | (df_patients['icd_code'] =="43321") | (df_patients['icd_code'] =="43330") | (df_patients['icd_code'] =="43331") |
    (df_patients['icd_code'] =="43380") | (df_patients['icd_code'] =="43381") | (df_patients['icd_code'] =="43390") | (df_patients['icd_code'] =="43391") |
    (df_patients['icd_code'] =="43400") | (df_patients['icd_code'] =="43401") | (df_patients['icd_code'] =="43410") | (df_patients['icd_code'] =="43411") |
    (df_patients['icd_code'] =="43491") | (df_patients['icd_code'] =="43490") | (df_patients['icd_code'] =="436") | (df_patients['icd_code'] =="431") |
    (df_patients['icd_code'] =="430") | (df_patients['icd_code'] =="4350") | (df_patients['icd_code'] =="4351") | (df_patients['icd_code'] =="4352") |
    (df_patients['icd_code'] =="4353") | (df_patients['icd_code'] =="4358") | (df_patients['icd_code'] =="4359")
]

In [22]:
ed_cerebral_infarction_diagnoses.drop_duplicates(subset=['subject_id'])

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
136,16652205,37303614,1,430,9,SUBARACHNOID HEMORRHAGE
148,12322455,32575003,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
197,16247826,37778248,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
199,10270064,32769432,1,431,9,INTRACEREBRAL HEMORRHAGE
233,10273026,35698496,1,431,9,INTRACEREBRAL HEMORRHAGE
...,...,...,...,...,...,...
466989,12044573,32007686,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
467230,13040343,31747362,1,4359,9,TRANS CEREB ISCHEMIA NOS
467293,13554811,34280568,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
467404,13524742,31867344,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
467718,18322814,31664019,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT