In [ ]:
"""
Καταγράφω τους ασθενείς που πέρασαν από τα
επείγοντα με εγκεφαλικό και κατέληξαν στο νοσοκομείο.

949.172 -> Συνολικές εγγραφές στον πίνακα των διαγνώσεων.
448.972 -> Εγγραφές που μας δείχνουν τους ασθενείς που νοσηλεύτηκαν.
  2.292 -> Είναι οι διαγνώσεις εγκεφαλικού.
  2.233 -> Εισαγωγές με εγκεφαλικό νοσηλεύτηκαν
  2.145 -> Μοναδικοί ασθενείς που διαγνώστηκαν με εγκεφαλικό
  2.094 -> Μοναδικοί ασθενείς με εγκεφαλικό που νοσηλεύτηκαν.
     59 -> Εισαγωγές με εγκεφαλικό που δεν νοσηλεύτηκαν.
     59 -> Μοναδικοί ασθενείς με εγκεφαλικό που δεν νοσηλεύτηκαν.
"""

In [2]:
import pandas as pd

In [3]:
df_patients = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\diagnosis.csv.gz')
df_edstays = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\edstays.csv.gz')

In [4]:
#Ασθενείς με εγκεφαλικό.
ed_cerebral_infarction_diagnoses = df_patients[
    (df_patients['icd_code'] =="43300") | (df_patients['icd_code'] =="43301") |
    (df_patients['icd_code'] =="43310") | (df_patients['icd_code'] =="43311") |
    (df_patients['icd_code'] =="43320") | (df_patients['icd_code'] =="43321") |
    (df_patients['icd_code'] =="43330") | (df_patients['icd_code'] =="43331") |
    (df_patients['icd_code'] =="43380") | (df_patients['icd_code'] =="43381") |
    (df_patients['icd_code'] =="43390") | (df_patients['icd_code'] =="43391") |
    (df_patients['icd_code'] =="43400") | (df_patients['icd_code'] =="43401") |
    (df_patients['icd_code'] =="43410") | (df_patients['icd_code'] =="43411") |
    (df_patients['icd_code'] =="43491") | (df_patients['icd_code'] =="43490") |
    (df_patients['icd_code'] =="436") | (df_patients['icd_code'] =="431") |
    (df_patients['icd_code'] =="430") | (df_patients['icd_code'] =="4350") |
    (df_patients['icd_code'] =="4351") | (df_patients['icd_code'] =="4352") |
    (df_patients['icd_code'] =="4353") | (df_patients['icd_code'] =="4358") |
    (df_patients['icd_code'] =="4359")
]

In [5]:
# Διαγνώσεις εγκεφαλικού (2292).
ed_cerebral_infarction_diagnoses

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
136,16652205,37303614,1,430,9,SUBARACHNOID HEMORRHAGE
148,12322455,32575003,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
197,16247826,37778248,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
199,10270064,32769432,1,431,9,INTRACEREBRAL HEMORRHAGE
233,10273026,35698496,1,431,9,INTRACEREBRAL HEMORRHAGE
...,...,...,...,...,...,...
467107,13321760,30368056,1,4359,9,TRANS CEREB ISCHEMIA NOS
467230,13040343,31747362,1,4359,9,TRANS CEREB ISCHEMIA NOS
467293,13554811,34280568,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
467404,13524742,31867344,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
467718,18322814,31664019,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT

In [6]:
"""
Ενοποίηση των στοιχείων έτσι ώστε να κρατήσουμε τους
ασθενείς που έχουν hadm_id πράγμα που σημαίνει ότι
νοσηλεύτηκαν στο νοσοκομείο. Από εκεί θα δούμε αν
κατέληξαν στις ΜΕΘ. Με βάση την βιβλιογραφία της MimicIV
το hadm_id δεν δείχνει την άμεση μετάβαση στις ΜΕΘ.
Βέβαια το ίδιο hadm_id ακολουθεί τον ασθενή καθόλη την 
διάρκεια της εισαγωγής αλλά θα κρατήσω της βιβλιογραφίας.
"""
rslt_df = pd.merge(df_edstays, ed_cerebral_infarction_diagnoses, on=['subject_id', 'stay_id'] )

In [7]:
rslt_df

,subject_id,hadm_id,stay_id,intime,outtime,seq_num,icd_code,icd_version,icd_title
0,10003299,21404960.0,39680380,2179-06-30 09:18:00,2179-06-30 16:35:45,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
1,10046166,20474438.0,38848658,2132-12-06 09:52:00,2132-12-06 12:56:00,1,431,9,INTRACEREBRAL HEMORRHAGE
2,10088799,22316269.0,32350445,2168-07-15 11:01:00,2168-07-15 17:09:00,1,4359,9,TRANS CEREB ISCHEMIA NOS
3,10123949,23147995.0,35681417,2182-10-29 07:20:00,2182-10-29 15:10:00,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
4,10123949,28284803.0,35187405,2182-12-05 01:50:00,2182-12-05 07:56:07,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
...,...,...,...,...,...,...,...,...,...
2287,19865581,22940858.0,35805371,2169-02-12 03:32:00,2169-02-12 14:11:00,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
2288,19921864,25052965.0,38392291,2130-02-04 04:35:00,2130-02-04 06:55:00,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
2289,19934351,22025281.0,38396831,2183-01-05 19:38:00,2183-01-05 23:20:00,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT
2290,19935894,28712558.0,35373785,2192-04-15 21:48:00,2192-04-16 00:37:00,1,4359,9,TRANS CEREB ISCHEMIA NOS
2291,19935894,22497123.0,35674626,2192-05-19 17:56:00,2192-05-20 01:45:00,1,43491,9,CEREBRAL ART OCCLUS W/INFARCT

In [8]:
"""
Έλεγχω αν υπάρχουν nan κελιά, έτσι μπορώ
να δω αν κάποιος ασθενής πέρασε από τα 
επείγοντα στο νοσοκομείο ή όχι. Οι κενές
περιοχές δηλώνουν ότι δεν έφυγε χωρίς εισαγωγή.
"""
rslt_df.isna().sum()

subject_id      0
hadm_id        59
stay_id         0
intime          0
outtime         0
seq_num         0
icd_code        0
icd_version     0
icd_title       0
dtype: int64

In [9]:
# Κρατώ μόνο τις γραμμές που έχουν τιμές στο hadm_id
rslt_df = rslt_df[rslt_df['hadm_id'].notna()]

In [10]:
rslt_df.to_csv('D:\Thesis\exports\o1_ed_patients_to_hosp.csv', index=False)

In [11]:
# Μοναδικοί ασθενείς που διαγνώστηκαν με εγκεφαλικό (2145)
ed_cerebral_infarction_diagnoses.drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2145 entries, 136 to 467718
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2145 non-null   int64
 1   stay_id      2145 non-null   int64
 2   seq_num      2145 non-null   int64
 3   icd_code     2145 non-null   object
 4   icd_version  2145 non-null   int64
 5   icd_title    2145 non-null   object
dtypes: int64(4), object(2)
memory usage: 117.3+ KB

In [12]:
# Ελέγχω εκ νέου για κενές τιμές στο hadm
rslt_df[rslt_df['hadm_id'].isna()].drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   0 non-null      int64
 1   hadm_id      0 non-null      float64
 2   stay_id      0 non-null      int64
 3   intime       0 non-null      object
 4   outtime      0 non-null      object
 5   seq_num      0 non-null      int64
 6   icd_code     0 non-null      object
 7   icd_version  0 non-null      int64
 8   icd_title    0 non-null      object
dtypes: float64(1), int64(4), object(4)
memory usage: 0.0+ bytes

In [13]:
# Εισαγωγές με εγκεφαλικό νοσηλεύτηκαν (2233)
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2233 entries, 0 to 2291
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2233 non-null   int64
 1   hadm_id      2233 non-null   float64
 2   stay_id      2233 non-null   int64
 3   intime       2233 non-null   object
 4   outtime      2233 non-null   object
 5   seq_num      2233 non-null   int64
 6   icd_code     2233 non-null   object
 7   icd_version  2233 non-null   int64
 8   icd_title    2233 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 174.5+ KB

In [14]:
rslt_df.drop_duplicates(subset=['subject_id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2290
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   2094 non-null   int64
 1   hadm_id      2094 non-null   float64
 2   stay_id      2094 non-null   int64
 3   intime       2094 non-null   object
 4   outtime      2094 non-null   object
 5   seq_num      2094 non-null   int64
 6   icd_code     2094 non-null   object
 7   icd_version  2094 non-null   int64
 8   icd_title    2094 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 163.6+ KB