In [1]:
"""
Δημιουργώ τον πίνακα που θα περιλαμβάνει
τις τιμές των εργαστηριακών μετρήσεων
ασθενών με εγκεφαλικό που έχουν εισαχθεί
στα νοσοκομεία αλλά όχι στις ΜΕΘ.
"""

'\nΔημιουργώ τον πίνακα που θα περιλαμβάνει\nτις τιμές των εργαστηριακών μετρήσεων\nασθενών με εγκεφαλικό που έχουν εισαχθεί\nστα νοσοκομεία αλλά όχι στις ΜΕΘ.\n'

In [2]:
import pandas as pd

In [3]:
df_rows = pd.read_csv('D:\Thesis\exports\o23_hosp_labevents_grouped_8hours.csv')

In [4]:
# Μετατροπή της στήλης charttime από object σε datetime
df_rows['charttime']= pd.to_datetime(df_rows['charttime'])

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
df_rows['date'] = pd.to_datetime(df_rows['charttime']).dt.date
df_rows['time'] = pd.to_datetime(df_rows['charttime']).dt.time

In [5]:
"""
Αποθηκεύω το αρχείο που πλεον περιλαμβάνει
τις δυο καινούργιες στήλες,date και time.
"""
df_rows.to_csv('D:\Thesis\exports\o25_hosp_labevents_grouped_8hours_date_time.csv',
               index=False)

In [6]:
list(set(df_rows['time']))

[datetime.time(0, 0), datetime.time(16, 0), datetime.time(8, 0)]

In [7]:
#Δημιουργώ τις στήλες από το αρχείο που περιλαμβάνει τις μοναδικές εξετάσεις
df_columns = pd.read_csv('D:\Thesis\exports\o24_hosp_labevents_counts.csv',
                         usecols = ['itemid'], index_col=False)

#Ορίζω το header ως index
df_columns = df_columns.set_index('itemid')

# Μεταφέρω τις γραμμές σε στήλες
df_columns = df_columns.transpose()

In [8]:
"""
Δημιουργώ ένα μοναδικό αναγνωριστικό με την ένωση των
στοιχείων από στήλες subject, hadm_id, date και time.
Ανάμεσα στα στοιχεία προβάλω ένα κενό το οποίο θα μου
φανεί χρήσιμο αργότερα για τον διαχωρισμό τους ξανά σε
διαφορετικές στήλες.
"""
df_rows["concat"] = (df_rows["subject_id"].astype(str)
                     +" "
                     +df_rows["hadm_id"].astype(str)
                     +" "
                     +df_rows["date"].astype(str)
                     +" "+
                     df_rows["time"].astype(str))

In [9]:
# Ελέγχω αν υπάρχει κενό κελί στην στήλη concat.
df_rows['concat'].isnull().values.any()

False

In [10]:
# Από το dr_rows κρατάω τις μοναδικές εγγραφές
df_copy_rows = pd.DataFrame(df_rows.concat.unique())

# Δημιουργώ καινούργιο πίνακα ενσωματώνοντας στον πίνακα df columns τις στήλες με τις κενές για την ώρα εξετάσεις
lab_tbl = df_columns.append(df_copy_rows)

# Μετονομάζω την στήλη 0 σε concat για να είναι ίδιες στους δυο πίνακες
lab_tbl = lab_tbl.rename({0:'concat'}, axis=1)

In [11]:
#Διαχωρισμός του concat σε τέσσερις στήλες
lab_tbl[['subject_id','hadm_id', 'date', 'time']] = lab_tbl['concat'].str.split(expand=True)

In [12]:
#Διαγράφω την στήλη concat γιατί θα πρέπει να την ξαναδημιουργήσω
#χωρίς κενά ανάμεσα στα ενοποιημένα στοιχεία, οπότε θα την έχω διπλή.
lab_tbl = lab_tbl.drop('concat', 1)

In [13]:
# Τρέχω το αποτέλεσμα του πίνακα
lab_tbl

,50801,50802,50803,50804,50805,50806,50808,50809,50810,50811,...,52285,52286,52312,52369,52391,52769,subject_id,hadm_id,date,time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10001877,25679292,2149-05-22,08:00:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10001877,25679292,2149-05-23,00:00:00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10001877,25679292,2149-05-22,00:00:00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10001877,25679292,2149-05-24,00:00:00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10001877,25679292,2149-05-24,16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19995593,27238804,2110-11-19,00:00:00
34337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19999840,26071774,2164-07-25,00:00:00
34338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19999840,26071774,2164-07-24,16:00:00
34339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19999840,26071774,2164-07-27,16:00:00
34340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19999840,26071774,2164-07-28,00:00:00

In [14]:
lab_tbl.to_csv('D:\Thesis\exports\o26_hosp_empty_lab_tbl.csv', index=False)