In [1]:
"""
Γεμίζω τον πίνακα με τις μετρήσεις
του chartevet 8ώρου.

Ο πίνακας μου απαρτίζεται από 707
στήλες και 65189 γραμμές, οπότε μου
δημιουργούν 46.088.623 κελιά.

Οι τιμές μου ανέρχονται στα 4.177.458
οπότε με μια αφαίρεση προκείπτουν
41.911.165 NaN κελιά
"""

'\nΓεμίζω τον πίνακα με τις μετρήσεις\nτου chartevet 8ώρου.\n\nΟ πίνακας μου απαρτίζεται από 707\nστήλες και 65189 γραμμές, οπότε μου\nδημιουργούν 46.088.623 κελιά.\n\nΟι τιμές μου ανέρχονται στα 4.177.458\nοπότε με μια αφαίρεση προκείπτουν\n41.911.165 NaN κελιά\n'

In [1]:
import pandas as pd

In [2]:
df_chart_tbl = pd.read_csv('D:\Thesis\exports\o10_empty_chart_tbl.csv', index_col=False)
df_mean_chart = pd.read_csv('D:\Thesis\exports\o9_chartevent_8_hour_mean.csv', index_col=False)
df_data_chart = pd.read_csv('D:\Thesis\mimic-iv-1.0\icu\d_items.csv.gz')

In [5]:
df_chart_tbl

,subject_id,hadm_id,date,time,220045,220210,220277,220179,220180,220181,...,220283,228145,228146,228181,224855,225731,225736,228119,227647,224727
0,10004733,27411876,2174-12-04,08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,2174-12-04,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,2174-12-05,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,2174-12-05,08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,2174-12-05,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65184,19999987,23865745,2145-11-03,08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65185,19999987,23865745,2145-11-03,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65186,19999987,23865745,2145-11-04,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65187,19999987,23865745,2145-11-04,08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65188,19999987,23865745,2145-11-04,16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Φέρνω τις τελευταίες στήλες, πρώτες
for i in range (1, 5):
    cols = list(df_chart_tbl.columns)
    cols = [cols[-1]] + cols[:-1]
    df_chart_tbl = df_chart_tbl[cols]

In [6]:
# Ελέγχω αν υπάρχει NaN στην στήλη με τις μέσες τιμές, το αποτέλεσμα ισούται με μηδέν.
df_mean_chart['Mean_Chart'].isna().sum()

0

In [7]:
"""
Δημιουργώ εκ νέου την στήλη concat
χωρίς κενά ανάμεσα στα στοιχεία.
Θα χρησιμοποιήσω αυτή τη στήλη σαν
index γιατί τα κενά μπορεί να
δημιουργήσουν πρόβλημα.
"""
df_chart_tbl["concat"] = (df_chart_tbl["subject_id"].astype(str)
                          + df_chart_tbl["hadm_id"].astype(str)
                          + df_chart_tbl["date"].astype(str)
                          + df_chart_tbl["time"].astype(str))

"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace('-','')
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace(':','')

In [8]:
# Ορίζω την στήλη concat ως index των γραμμών
df_chart_tbl = df_chart_tbl.set_index('concat')

In [9]:
"""
Δημιουργώ την στήλη concat και στον πίνακα
που περιλαμβάνει τις μετρήσεις για να είναι
το κοινό σημείο ανάμεσα στους δυο πίνακες
"""
df_mean_chart["concat"] = (df_mean_chart["subject_id"].astype(str)
                           + df_mean_chart["hadm_id"].astype(str)
                           + df_mean_chart["date"].astype(str)
                           + df_mean_chart["time"].astype(str))


"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_mean_chart['concat'] = df_mean_chart['concat'].str.replace('-','')
df_mean_chart['concat'] = df_mean_chart['concat'].str.replace(':','')

In [10]:
# Γεμίζω τον πίνακα
for row in df_mean_chart.itertuples():
    con = row.concat
    item = row.itemid
    value = row.Mean_Chart
    df_chart_tbl.at['{}'.format(con), '{}'.format(item)] = value

In [11]:
# Κενά κελιά
df_chart_tbl.isna().sum().sum()

41911165

In [11]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τους κωδικούς των παρατηρήσεων
df_chart_tbl.to_csv('D:\Thesis\exports\o11_fill_chart_itemid_header_tbl.csv', index=False)

In [13]:
df_data_chart = df_data_chart.set_index('itemid')

In [18]:
df_data_chart

,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue,header
itemid,,,,,,,,,
220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,NaN,Date and time,NaN,NaN,ICU Admission date (nan)
220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN,Heart Rate (bpm)
220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN,Heart rate Alarm - High (bpm)
220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN,Heart Rate Alarm - Low (bpm)
220048,Heart Rhythm,Heart Rhythm,chartevents,Routine Vital Signs,NaN,Text,NaN,NaN,Heart Rhythm (nan)
...,...,...,...,...,...,...,...,...,...
229355,Absolute Neutrophil Count,Absolute Neutrophil Count,chartevents,Labs,None,Numeric,NaN,NaN,Absolute Neutrophil Count (None)
229453,Exam-GI/GU,Exam-GI/GU,chartevents,MD Progress Note,NaN,Text,NaN,NaN,Exam-GI/GU (nan)
229604,Therapeutic Bed,Therapeutic Bed,chartevents,Treatments,NaN,Text,NaN,NaN,Therapeutic Bed (nan)
229709,Angiotensin II (Giapreza),Angiotensin II (Giapreza),inputevents,Medications,mg,Solution,NaN,NaN,Angiotensin II (Giapreza) (mg)
229836,Low Speed Limit (VAD),Low Speed Limit (VAD),chartevents,Durable VAD,NaN,Text,NaN,NaN,Low Speed Limit (VAD) (nan)

In [17]:
df_chart_tbl

,subject_id,hadm_id,date,time,220045,220210,220277,220179,220180,220181,...,220283,228145,228146,228181,224855,225731,225736,228119,227647,224727
concat,,,,,,,,,,,,,,,,,,,,,
100047332741187621741204080000,10004733,27411876,2174-12-04,08:00:00,93.200000,19.800000,98.800000,170.750000,103.250000,119.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741204160000,10004733,27411876,2174-12-04,16:00:00,97.250000,19.250000,96.875000,153.125000,90.250000,103.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741205000000,10004733,27411876,2174-12-05,00:00:00,100.333333,24.222222,94.444444,154.666667,75.777778,92.777778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741205080000,10004733,27411876,2174-12-05,08:00:00,90.687500,20.312500,95.031250,147.031250,67.437500,84.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741205160000,10004733,27411876,2174-12-05,16:00:00,92.111111,14.000000,96.777778,148.555556,73.666667,90.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199999872386574521451103080000,19999987,23865745,2145-11-03,08:00:00,95.875000,19.625000,97.750000,108.750000,66.875000,76.375000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451103160000,19999987,23865745,2145-11-03,16:00:00,85.444444,20.666667,97.333333,104.700000,64.200000,76.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451104000000,19999987,23865745,2145-11-04,00:00:00,112.500000,26.250000,95.875000,117.500000,75.000000,84.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451104080000,19999987,23865745,2145-11-04,08:00:00,106.142857,21.285714,97.125000,122.000000,63.333333,73.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451104160000,19999987,23865745,2145-11-04,16:00:00,92.500000,22.250000,98.750000,152.666667,106.333333,116.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Ενοποίηση τιμών σε κελιά
df_data_chart["header"] = (df_data_chart["label"].astype(str)
                           + " ("
                           + df_data_chart["unitname"].astype(str)
                           + ")")

In [14]:
"""
Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
"""
for col in df_chart_tbl.columns:
    if ((col != 'subject_id') and
        (col != 'hadm_id') and
        (col != 'date') and
        (col != 'time')):
        temp = (df_data_chart.loc[int(col), 'header'])
        df_chart_tbl.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [15]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τις ονομασίες των παρατηρήσεων
df_chart_tbl.to_csv('D:\Thesis\exports\o12_fill_chart_label_header_tbl.csv', index=False)